.parent-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    justify-content: center;
    align-content: center;
    width: 20%;
    height: 6rem;
    border: solid black 1px;
    border-radius: 2rem;
}

.text-container {
    display: flex;
    justify-content: center;
    align-content: center;
}